.camerawrapper{
  border-radius: 50%;
  background-color: #FBAC13;
  width: 25vw;
  height: 25vw;
  margin-left: 15%;
  margin-top: 5%;
}

.cameracapturecontainer {
  margin-left: 10%;
  width: 80%;
  height: 80%;
  margin-top: 20%;
}
.picCaptureButton{
  left: -50%;
}
