.translationsWrapper{
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  min-height: 25vh;
}

.originalTextWrapper {
  background-color: white;
  width: 48vw;
  border-radius: 25px;
  background-color: black;
  color: white;
}

.translatedTextWrapper {
  background-color: black;
  color: white;
  margin-left: 4vw;
  width:48vw;
  border-radius: 25px;
}
