.uploadWrapper {
  border-radius: 50%;
  background-color: #F5F3CE;
  width: 25vw;
  height: 25vw;
  margin-left: 20%;
  margin-top: 5%;
}

.boxZoneContainer {
  margin-left: 25%;
  width: 90%;
  height: 90%;
  margin-top: 10%;
}
