.TranslateButton {
  top: 75%;
  left: 37.5vw;
  width: 25vw;
  min-width: 250px;
  background-color: '#2266BB';
  color: '#2266BB';
  position: absolute;
  border-radius: 25;
  margin: 12;
}

.projectTitle{
  margin-top:8%;
  color:white;
  font-size: 75px;
}
