.globe {
  border: 2px solid #8bc34a;
  border-radius: 50%;
  height: 280px;
  left: 50%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 280px;

}

.globe-svg {
  animation: rotation 5s linear 0s infinite;
}
.globe-path {
  stroke: #8BC34A;
}
@keyframes rotation {
  from {
    transform: translateX(0);
  }

  from {
    transform: translateX(-50%);
  }
}
@-moz-keyframes rotation {
  from {
    transform: translateX(0);
  }

  from {
    transform: translateX(-50%);
  }
}
@-webkit-keyframes rotation {
  from {
    transform: translateX(0);
  }

  from {
    transform: translateX(-50%);
  }
}
